<div class="parent">
  <form action="#" [formGroup]="loginForm">
    <div class="container">
      <h2>Login Form</h2>
      
      <label for="userName"><b>Username</b></label>
      <input type="text" formControlName="userName"  placeholder="Enter Username" required />

      <label for="password"><b>Password</b></label>
      <input type="password" formControlName="password" placeholder="Enter Password" required />

      <button type="submit" (click)="onLogin()">Login</button>
      
    </div>

    <div class="container" style="background-color: #f1f1f1">
      <button type="button" class="cancelbtn">Cancel</button>
      <span class="psw">Forgot <a href="#">password?</a></span>
    </div>
  </form>
</div>
